{% extends 'foods/base.html' %}
{% load static %}
{% block title %}Home{% endblock%}
{% block body %}

    <section class="featured-food">
        <div class="container">
            <div class="row">
                <div class="heading">
                    <h2>Item List</h2>
                </div>
            </div>
            <div class="row">



{% if breakfast %}
{% for item in breakfast %}
                <div class="col-md-4">
                    <div class="food-item">
                        <a href="{% url "update_item" item.id %}">
                        <img src="/media/{{item.item_image}}" width="100" height="250" alt=""></a>
                        <div class="price">Rs.{{item.item_price}}</div>
                        <div class="text-content">
                            <h4>{{item.item_name}}</h4>
                            <p>{{item.item_sort_desc}}</p>
                            <a href="/owner/delete/{{item.id}}">Delete</a>
                        </div>
                    </div>
                </div>
                {% endfor%}
{% endif %}


{% if lunch %}
{% for item in lunch %}
                <div class="col-md-4">
                    <div class="food-item">
                  
                        <a href="{% url "update_item" item.id %}">
                        <img  src="/media/{{item.item_image}}" width="100" height="250" alt=""></a>
                        <div class="price">Rs.{{item.item_price}}</div>
                        <div class="text-content">
                            <h4>{{item.item_name}}</h4>
                            <p>{{item.item_sort_desc}}</p>
                            <a href="/owner/delete/{{item.id}}">Delete</a>
                        </div>
                    </div>
                </div>
                {% endfor%}
                {% endif %}

                {% if dinner %}
                {% for item in dinner %}
                <div class="col-md-4">
                    <div class="food-item">
                    
                        <a href="{% url "update_item" item.id %}">
                        <img src="/media/{{item.item_image}}" width="100" height="250" alt=""></a>
                        <div class="price">Rs.{{item.item_price}}</div>
                        <div class="text-content">
                            <h4>{{item.item_name}}</h4>
                            <p>{{item.item_sort_desc}}</p>
                            <a href="/owner/delete/{{item.id}}">Delete</a>
                        </div>
                    </div>
                </div>
                {% endfor%}

                {% endif %}


            </div>
        </div>
    </section>


    




    {% endblock%}
