{% extends 'foods/base.html' %}
{% load static %}
{% block title %}Home{% endblock%}
{% block body %}

    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h4>Here you can find delecious foods</h4>
                    <h2>Indian Restaurant</h2>
                    <p>“Welcome! May the best food find your appetite.”</p>
                </div>
            </div>
        </div>
    </section>




    <section class="featured-food">
        <div class="container">
            <div class="row">
                <div class="heading">
                    <h2>Weekly Featured Food</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="food-item">
                        <h2>Breakfast</h2>
                        <a href="{% url "details_special" breakfast.id %}">
                        <img src="/media/{{breakfast.item_image}}" width="100" height="200" alt=""></a>
                        <div class="price">Rs.{{breakfast.item_price}}</div>
                        <div class="text-content">
                            <h4>{{breakfast.item_name}}</h4>
                            <p>{{breakfast.item_sort_desc}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="food-item">
                        <h2>Lunch</h2>
                        <a href="{% url "details_special" lunch.id %}">
                        <img  src="/media/{{lunch.item_image}}" width="100" height="200" alt=""></a>
                        <div class="price">Rs.{{lunch.item_price}}</div>
                        <div class="text-content">
                            <h4>{{lunch.item_name}}</h4>
                            <p>{{lunch.item_sort_desc}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="food-item">
                        <h2>Dinner</h2>
                        <a href="{% url "details_special" dinner.id %}">
                        <img src="/media/{{dinner.item_image}}" width="100" height="200" alt=""></a>
                        <div class="price">Rs.{{dinner.item_price}}</div>
                        <div class="text-content">
                            <h4>{{dinner.item_name}}</h4>
                            <p>{{dinner.item_sort_desc}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    


    <section id="book-table">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h2>Book Your Table Now</h2>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-2 col-sm-12">
                    <div class="left-image">
                        <img src="{% static 'food/img/book_left_image.jpg'%}" alt="">
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="right-info">
                        <h4>Reservation</h4>
                        {% if messages %}
                        <ul class="messages">
                        {% for message in messages %}
                        <h5  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </h5>
                        {% endfor %}
                        </ul>
                        {% endif %}
                        <form id="form-submit" action="" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset>
                                        <select required name='day' onchange='this.form.()'>
                                            <option value="">Select day</option>
                                            <option value="Monday">Monday</option>
                                            <option value="Tuesday">Tuesday</option>
                                            <option value="Wednesday">Wednesday</option>
                                            <option value="Thursday">Thursday</option>
                                            <option value="Friday">Friday</option>
                                            <option value="Saturday">Saturday</option>
                                            <option value="Sunday">Sunday</option>
                                        </select>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <select required name='hour' onchange='this.form.()'>
                                            <option value="">Select hour</option>
                                            <option value="10-00">10:00</option>
                                            <option value="12-00">12:00</option>
                                            <option value="14-00">14:00</option>
                                            <option value="16-00">16:00</option>
                                            <option value="18-00">18:00</option>
                                            <option value="20-00">20:00</option>
                                            <option value="22-00">22:00</option>
                                        </select>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <input name="name" type="name" class="form-control" id="name" placeholder="Full name" required="">
                                    </fieldset> 
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <input name="phone" type="phone" class="form-control" id="phone" placeholder="Phone number" required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <select required class="person" name='persons'>
                                            <option value="">How many persons?</option>
                                            <option value="1-Person">1 Person</option>
                                            <option value="2-Persons">2 Persons</option>
                                            <option value="3-Persons">3 Persons</option>
                                            <option value="4-Persons">4 Persons</option>
                                            <option value="5-Persons">5 Persons</option>
                                            <option value="6-Persons">6 Persons</option>
                                        </select>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="btn">Book Table</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>





    {% endblock%}
