{% extends 'foods/base.html' %}
{% load static %}
{% block title %}Menu{% endblock%}
{% block link %}

<link
   rel="stylesheet"
   href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
   integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
   crossorigin="anonymous"
  />{% endblock%}
{% block body %}


<div class="container col-2">

    
   <di class="container__profile">
    <img src="{% static 'food/img/breakfast_menu.jpg'%}" alt="people"/>
    <div class="container__profile__text">
     <h2>White Mountains</h2>
     <p>by <b>Joseph Therrien</b></p>
    </div>
   </di>

   <di class="container__profile">
    <img src="{% static 'food/img/breakfast_menu.jpg'%}" alt="people"/>
    <div class="container__profile__text">
     <h2>White Mountains</h2>
     <p>by <b>Joseph Therrien</b></p>
    </div>
   </di>

   <di class="container__profile">
    <img src="{% static 'food/img/breakfast_menu.jpg'%}" alt="people"/>
    <div class="container__profile__text">
     <h2>White Mountains</h2>
     <p>by <b>Joseph Therrien</b></p>
    </div>
   </di>






  </div>





  {% endblock%}