{% extends 'foods/base.html' %}
{% load static %}
{% block title %}Menu{% endblock%}
{% block body %}

    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Our Menus</h1>
                    <p>Curabitur at dolor sed felis lacinia ultricies sit amet vel sem. Vestibulum diam leo, sodales tempor lectus sed, varius gravida mi.</p>
                </div>
            </div>
        </div>
    </section>



    <section class="breakfast-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="breakfast-menu-content">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="left-image">
                                    <img src="{% static 'food/img/breakfast_menu.jpg'%}" alt="Breakfast">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <h2>Breakfast Menu</h2>
                                <div id="owl-breakfast" class="owl-carousel owl-theme">
                                   
{% for item in breakfast %}
                                    <div class="item col-md-12">
                                        <div class="food-item">
                                            <a href="/food/details/{{item.id}}">
                                            <img src="/media/{{item.item_image}}" width="100" height="150" alt=""></a>
                                            <div class="price">Rs.{{item.item_price}}</div>
                                            <div class="text-content">
                                                <h4>{{item.item_name}}</h4>
                                                <p>{{item.item_sort_desc}}</p>
                                            </div>
                                        </div>
                                    </div>

                                   {% endfor%} 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="lunch-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="lunch-menu-content">
                        <div class="row">
                            <div class="col-md-7">
                                <h2>Lunch Menu</h2>
                                <div id="owl-lunch" class="owl-carousel owl-theme">
                                    
                                    {% for item in lunch %}
                                    <div class="item col-md-12">
                                        <div class="food-item">
                                            <a href="/food//details/{{item.id}}">
                                            <img src="/media/{{item.item_image}}"   width="100" height="150" alt=""></a>
                                            <div class="price">Rs.{{item.item_price}}</div>
                                            <div class="text-content">
                                                <h4>{{item.item_name}}</h4>
                                                <p>{{item.item_sort_desc}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor%} 

                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="left-image">
                                    <img src="{% static 'food/img/lunch_menu.jpg'%}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="dinner-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="dinner-menu-content">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="left-image">
                                    <img src="{% static 'food/img/dinner_menu.jpg'%}" alt="">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <h2>Dinner Menu</h2>
                                <div id="owl-dinner" class="owl-carousel owl-theme">
                                   

                                    {% for item in dinner %}
                                    <div class="item col-md-12">
                                        <div class="food-item">
                                            <a href="/food//details/{{item.id}}">
                                            <img src="/media/{{item.item_image}}"   width="100" height="150" alt=""></a>
                                            <div class="price">Rs.{{item.item_price}}</div>
                                            <div class="text-content">
                                                <h4>{{item.item_name}}</h4>
                                                <p>{{item.item_sort_desc}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor%} 

                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {% endblock%}