{% extends 'foods/base.html'%}
{% load static%}
<!DOCTYPE html>
<html>
    <head>
        <title>Contact page</title>
        <style>  
            table, th, td {  
              border: 1px solid black;  
              border-collapse: collapse;  
            }  
            th, td {  
              padding: 10px;  
            }  
            table#alter tr:nth-child(even) {  
              background-color: #eee;  
            }  
            table#alter tr:nth-child(odd) {  
              background-color: #fff;  
            }  
            table#alter th {  
              color: white;  
              background-color: gray;  
            }  
            </style> 
    </head>
    <body>
        <div class="header">
            <div class="container">
                <a href="/" class="navbar-brand scroll-top">Khana Ghar</a>
                <nav class="navbar navbar-inverse" role="navigation">
                    
                    <div id="main-nav" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="/create_item">Admin</a></li>
                            
                            <li><a href="/contact">Contact Us</a></li>
                        </ul>
                    </div>
                    
                </nav>
              
            </div>
           
        </div>

    {% block body%}






























    <section id="book-table">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h2>Add Your Items</h2>
                    </div>
                </div>
                <section class="contact-us">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <form id="contact" action="" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <fieldset>
                                                <input name="name" type="text" class="form-control" id="name" placeholder="Item Name" required="">
                                            </fieldset>

                                            <fieldset>
                                                <select required class="form-control" name='type' onchange='this.form.()'>
                                                    <option value="">Type</option>
                                                    <option value="breakfast">Breakfast</option>
                                                    <option value="dinner">Dinner</option>
                                                    <option value="lunch">Lunch</option>
                                                </select>
                                            </fieldset>

                                            <fieldset>
                                                <input name="price" type="number" class="form-control" id="phone" placeholder="Item Price" required="">
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6">
                                            <fieldset>
                                                <textarea name="desc" rows="6" class="form-control" id="message" placeholder="Item description" required=""></textarea>
                                            </fieldset>
                                            <fieldset>
                                                <input name="image" type="text" class="form-control" id="name" placeholder="Image url" >
                                            </fieldset>
                                            <fieldset>
                                                <button type="submit" id="form-submit" class="btn">Add Item</button>
                                            </fieldset>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            
                                <table style="width:40%; background-color: gray;  " >  
                                    <tr>  
                                        <th>{{items.}}</th>   
                                    </tr>  
                                    <tr>  
                                        <td>1data</td>    
                                    </tr>  
                                    <tr>  
                                        <td>2 data</td>    
                                    </tr>  
                                    <tr>  
                                        <td>3 data</td>   
                                    </tr>  
                                </table> 
                        </div>
                    </div>
                </section>
                
            </div>
        </div>
    </section>

    {%endblock%}
</body>
</html>