{% extends 'base.html' %}
{% load static %}
{% block title %} Khana Ghar{% endblock%}
	{% block body%}
	
	
	<!-- Start header -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>About Us</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End header -->
	
	<!-- Start About -->
	<div class="about-section-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<img src="{% static 'images/about-img.jpg'%}" alt="" class="img-fluid">
				</div>
				<div class="col-lg-6 col-md-6 text-center">
					<div class="inner-column">
						<h1>Welcome To <span>Khana Ghar Restaurant</span></h1>
						
						<p style="color:black;">“A native of Rajasthan, a state in northern India, 
							Sarin has been a journeyman cook, working in kitchens such as Rasika in Penn Quarter,
							 Bombay Tandoor in Tysons and Punjabi by Nature, the restaurant that preceded Bansari 
							 in this ground-level space at the Avalon Dunn Loring apartments. Punjabi by Nature owner
							  Rajiv Chopra was looking to sell his lease in Vienna, and Nirali Bhatt and Sarin
							   were interested. They were interested even as negotiations and background checks
							    dragged on from February to June, from pre-shutdown to full-blown pandemic.”<br>
								 ~ Bansari Indian Cuisine dares to be different (Washington Post)</p>
						
						<p>Our purpose is simple and bold. We exist to redefine how Indian restaurants taste, feel, 
							and look. Our founding values consist ofproviding clean and heart-warming food prepared 
							with ethical practices with a hugeimportance on our team members and ourguests. We believe
							 the happiness that comesfrom feeding souls is worth sharing. We strive to positively impact
							  the communities we live in and constantly practice our values. It is our pleasure to serve 
							  you.Be brave and try something new.
							  <br>
							<br>Head Chef - Deepak Sarin
							<br>
							General Manager - DhruvSarin</p>
						<a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a>
					</div>
				</div>
			
				
			</div>
		</div>
	</div>
	<!-- End About -->
	{% endblock%}